div.registration{
    height: 100vh;
    width: 100%;
    background: linear-gradient(185deg, #d44b47,#222);
    position: relative;
}

.card-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.card h1{
    color: #d44b47;
    text-transform: uppercase;
    padding-left: 50px;
    border-left: 8px solid #d44b47;
    margin-bottom: 50px;
}

.example-form{
    padding:0  60px;
}

.mat-input-container{
    width: 320px;
    margin-bottom: 30px;
}

.mat-input-placeholder{
    color: #d44b47 !important;
}

.mat-input-element{
    height: 35px !important;
}

a.example-form__btn{
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 220px;
    border: 1px solid #909090;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 500;
    color: #909090;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-align: center;
    margin: 25px auto;
}

a.example-form__btn:hover{
    color: #d44b47;
    text-decoration: none;
    border-color: #d44b47;
}

.wrapper-btn{
    text-align: center;
}

.code-full-width{
    width: 70%;
}

/*input.ng-valid[required], input.ng-valid.required {*/
    /*border-left: 5px solid #42A948; !* green *!*/
/*}*/
/*input.ng-invalid.ng-touched {*/
    /*border-left: 5px solid #a94442; !* red *!*/
/*}*/