
<div class="registration">
    <div class="card-wrapper">
        <div class="card">
            <div style="clear:both"></div>
        </div>

        <div class="card" *ngIf="isLocalUser === true || isLocalUser === false">

            <div *ngIf="isLocalUser">

                <app-login-app *ngIf="!isLoggedInState"></app-login-app>

                <app-logout *ngIf="isLoggedInState" [type]="'app'" (onLogout)="onLogout($event)"></app-logout>

            </div>

            <div *ngIf="!isLocalUser">

                <app-login-google *ngIf="!isGoogleLoggedIn()"></app-login-google>

                <app-logout *ngIf="isGoogleLoggedIn()" [type]="'google'" (onLogout)="onLogout($event)"></app-logout>

            </div>

        </div>



    </div>
</div>

