
  <h1 class="title">Login</h1>
  <form class="example-form" (keyup.enter)="login()">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Username" [(ngModel)]="name" name="login" required>
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input type="password" mdInput placeholder="Password" [(ngModel)]="password" name="pass" required>
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="example-full-width  code-full-width">
            <input mdInput placeholder="Authorization code">
          </md-input-container>
        </td>
      </tr>
      <h5 style="color: red;" class="error-message" *ngIf="errorMessage">{{errorMessage}}</h5>
      <div class="wrapper-btn">
        <a class="example-form__btn login-btn" (click)="login()">login</a>
      </div>
    </table>
  </form>