<div style="margin: 100px">
  <h4>Socket Counter state: {{socketCounterInfo ? 'open' : 'closed'}}</h4>
  <h4>Socket Status state: {{socketStatusInfo ? 'open' : 'closed'}}</h4>

  <div *ngIf="counter" >
    <h2>Socket protocol 'dumb-increment-protocol' counter</h2>
    <h3>{{counter}}</h3>
  </div>

  <div *ngIf="status">
    <h2>Socket protocol 'lws-status'</h2>
    <h3>{{status.hostname + ' ' + status.version}}</h3>
    <h4>Connected Clients:</h4>

    <ul>
      <li *ngFor="let client of status.conns" style="list-style: none">
        <table border="1px" cellpadding="5px" style="margin: 50px">
          <tr>
            <th>peer</th>
            <th>time</th>
            <th>ua</th>
          </tr>
          <tr>
            <td>{{client.peer}}</td>
            <td>{{client.time}}</td>
            <td>{{client.ua}}</td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</div>