<nav class="navbar navbar-inverse navbar-сustom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Angular 4 App</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/auth" routerLinkActive="active">Authorization</a></li>
      <li><a routerLink="sortable" routerLinkActive="active">Sortable</a></li>
      <li><a routerLink="chat" routerLinkActive="active">Chat</a></li>
      <li><a routerLink="socket" routerLinkActive="active">Socket</a></li>
      <li><a routerLink="permission" routerLinkActive="active">Permission</a></li>
    </ul>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>account box</md-icon>
        <span>Redial</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
  </div>
</nav>