<div class=" col-sm-3 col-xs-4 sidebar">
    <h3>Right Sidebar</h3>
    <ul class="nav nav-tabs nav-stacked">
        <li>
            <a href='#'>Another Link 1</a>
        </li>
        <li>
            <a href='#'>Another Link 2</a>
        </li>
        <li>
            <a href='#'>Another Link 3</a>
        </li>
    </ul>
    <app-test></app-test>
</div>


