<div>
  <h1 class="title">Logout</h1>
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <div class="wrapper-btn">
        <a class="example-form__btn logout-btn" (click)="logout()">logout</a>
      </div>
    </table>
  </form>
  <a class="navbar-brand" routerLink="/">to main page</a>
</div>