
<h3>Is global connection. Google authorization need!</h3>
<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <h5 style="color: red;" class="error-message" *ngIf="errorMessage">{{errorMessage}}</h5>
    <div class="wrapper-btn">
      <a class="example-form__btn login-btn" (click)="login()">login</a>
    </div>
  </table>
</form>