h2{
  text-align: center;
  padding: 20px 0;
  border: 2px solid #222;
}
h3{
  color: #d44b47;
  text-align: center;
}
.sortable-box{
  position: relative;
}
.sortable-box:before{
  content: ' ';
  width: 2px;
  height: 30px;
  background-color: #222;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -1px;
}
.items1,
.items2,
.items3{
  background-color: #e2dfdf !important;
  min-height: 450px;
}
.items1 div,
.items2 div,
.items3 div{
  width: 100%;
  text-align: center;
  background-color: #d44b47;
  color: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #fff;
}

.items1 div:hover,
.items2 div:hover,
.items3 div:hover{
  cursor: pointer;
  background: #222222;
}
