<h2>Управление системой</h2>
<div *ngIf="items1 && items2">
    <div class="col-md-2"></div>
    <div class="col-md-4 col-xs-12 sortable-box">
        <h3>Набор компонентов</h3>
        <div class="items1" [sortablejs]="items1" [sortablejsOptions]="options">
            <div *ngFor="let item of items1">{{ item.name }}</div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12 sortable-box">
        <h3>Пульт управление 1</h3>
        <div class="items2" [sortablejs]="items2" [sortablejsOptions]="options">
            <div *ngFor="let item of items2">{{ item.name }}</div>
        </div>
    </div>
</div>