<div class="container">
    <h2>Permission</h2>
    <div class="permission-box">
        <h3>Users</h3>
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Roles</th>
                        <th>Email</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="users && roles">
                        <tr *ngFor="let user of users">
                            <td>{{user.name}}</td>
                            <td>
                                <select (change)="changeUserRole(user.name, $event.target.value)">
                                    <option *ngFor="let role of roles" [value]="role.name" [selected]="role.name === user.role">
                                        {{ role.name }}
                                    </option>
                                </select>
                            </td>
                            <td>{{user.email}}</td>
                            <td><button type="button" (click)="deleteUser(user.name)" class="btn btn-danger"><i class="material-icons">delete</i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="user-add clearfix">
            <div class="col-xs-12">
                <md-input-container>
                    <input mdInput placeholder="User Name" [(ngModel)]="newUser.name" value="" name="userName">
                </md-input-container>
            </div>
            <div class="col-xs-12">
                <md-input-container>
                    <input mdInput placeholder="User Password" [(ngModel)]="newUser.password" value="" name="userPassword">
                </md-input-container>
            </div>
            <div class="col-xs-12">
                <md-input-container>
                    <input mdInput placeholder="User Email" [(ngModel)]="newUser.email" value="" name="userEmail">
                </md-input-container>
            </div>
            <div class="col-xs-12" *ngIf="roles">
                <md-select placeholder="Select Roles" [(ngModel)]="newUser.role" name="userRole">
                    <md-option *ngFor="let role of roles" [value]="role.name">
                        {{ role.name }}
                    </md-option>
                </md-select>
            </div>
            <div class="col-xs-12" *ngIf="createUserErrorMessage">
                <h5 style="color: red;">{{createUserErrorMessage}}</h5>
            </div>
            <div class="col-xs-12">
                <button type="button" class="btn btn-info" (click)="createUser()">Add</button>
            </div>
        </div>
    </div>

    <div class="permission-box">
        <h3>Roles</h3>
        <div class="col-xs-12">
            <table class="table">
                <tbody *ngIf="roles">
                    <tr *ngFor="let role of roles">
                        <td>{{role.name}}</td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="selectRole(role.name)">
                                <i class="material-icons">create</i>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deleteRole(role.name)">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="user-add clearfix">
            <div class="col-xs-12">
                <md-input-container>
                    <input mdInput placeholder="Add Role" name="roleName" [(ngModel)]="newRole.name">
                </md-input-container>
            </div>
            <div class="col-xs-12" *ngIf="createRoleErrorMessage">
                <h5 style="color: red;">{{createRoleErrorMessage}}</h5>
            </div>
            <div class="col-xs-12">
                <button type="button" class="btn btn-info" (click)="createRole()">Add</button>
            </div>
        </div>
    </div>
    <div class="permission-box" *ngIf="selectedRole">
        <h3>Configure Role Permissions</h3>
        <h3>{{selectedRole.name}}</h3>
        <div class="user-add" *ngIf="resources">
            <div class="col-xs-6" *ngFor="let resource of resources">
                <md-checkbox
                        (change)="togglePermission(selectedRole.name, resource.name)"
                        [checked]="isAllowed(resource.name)">
                    {{resource.name}}
                </md-checkbox>
            </div>
        </div>
    </div>
</div>

