h2{
  text-align: center;
  padding: 20px 0;
}
.permission-box{
  min-height: 400px;
  background-color: #efefef;
  margin-bottom: 30px;
  box-shadow: 0px 1px 6px rgba(1, 1, 1, 0.3);
  padding: 15px 0;
}

.permission-box .col-xs-12{
  margin-bottom: 40px;
}

h3{
  text-align: center;
  padding: 0 0 35px;
  margin: 0;
  color: #d44b47;
}


.table{
  max-width: auto;
  width: auto;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.mat-select-placeholder{
  color: red;
}

.user-add{
  width: 40%;
  margin-bottom: 50px;
  margin: 0 auto;
}
.mat-input-container {
  width: 100%;
  margin-bottom: 25px;
}
.table  .mat-select{
  margin-bottom: 0;
}
.mat-select{
  width: 100%;
  margin-bottom: 15px;
}
.btn-info {
  color: #fff;
  background-color: #333;
  border-color: #333;
  display: block;
  margin: 0 auto;
}
.material-icons{
  font-size: 18px;
}
.btn-danger{
  padding:3px 6px;
}
.btn-success{
  padding:3px 6px;
}

.mat-input-placeholder{
  color: #d44b47 !important;
}

.mat-select{
  font-family: Roboto,"Helvetica Neue",sans-serif !important;
  font-weight: bold !important;
  color: #909090 !important;
}