<ul id="messageList" *ngIf="messages">
    <li *ngFor="let message of messages">
        {{message}}
    </li>
</ul>

<div class="form">
    <input #message autocomplete="off"/>
    <button (click)="saveMessage(message.value); message.value = ''">Send</button>
</div>
